<div class="holder">
            
            <h1>Contactanos</h1>
            <div class="columna">
                <form action="" method="" class="formulario">
                    <p>
                        <label for="">Nombre</label>
                        <input type="text"/>
                    </p>
                    <p>
                        <label for="">Email</label>
                        <input type="email"/>
                    </p>
                    <p>
                        <label for="">Telefono</label>
                        <input type="text"/>
                    </p>
                    <p>
                        <label for="">Comentario</label>
                        <textarea id="comentario"></textarea>
                    </p>
                    <p class="acciones"> <input type="submit" value="Enviar"></p>
                </form>
            </div>
            <div class="redes">
                <ul>
                    <li class="icono">Instituto thompsen</li>
                    <li class="icono"><a href="https://www.facebook.com/"><i class="fab fa-whatsapp"></i></a></li>
                    <li class="icono"><a href="https://www.facebook.com/"><i class="far fa-envelope"></i></a></li>
                    <li class="icono"><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                    <li class="icono"><a href="https://www.facebook.com/"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="icono"><a href="https://www.facebook.com/"><i class="fab fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    
    <footer>
        <p>Diseñado por Alvarado Rocío - &copy;2021</p>
    </footer>