<main class="fondo">
    <div class="holder">
        <h4>Categorias</h4>
        <div class="cuerpo">
            <div class="photo">
                <img src="" alt="datos">
                <div class="text1">
                    <h3>Datos</h3>
                </div>
            </div>
            <div class="photo">
                <img src="" alt="diseño">
                <div class="text2">
                    <h3>Diseño</h3>
                </div>
            </div>
            <div class="photo">
                <img src="" alt="marketing">
                <div class="text3">
                    <h3>marketing</h3>
                </div>
            </div>
            <div class="photo">
                <img src="" alt="testing">
                <div class="text4">
                    <h3>Testing</h3>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>Diseñado por Alvarado Rocío - &copy;2021</p>
</footer>