<main class="fondo">
    <div class="holder">
        <div class="imagenes">
            <div class="imagen"><img src="" alt="bdd"></div>
            <div class="imagen"><img src="" alt="bdd2"></div>
            <div class="imagen"><img src="" alt="compu"></div>
            <div class="imagen"><img src="" alt="dg"></div>
            <div class="imagen"><img src="" alt="dg2"></div>
            <div class="imagen"><img src="" alt="mark"></div>
            <div class="imagen"><img src="" alt="mark2"></div>
            <div class="imagen"><img src="" alt="testing"></div>
        </div>
    </div>
</main>