
<main class="fondo">
        <div class="holder">
            <div class="homeimg">
                <img src="" alt="Home">
            </div>
            <h1 class="modificado">¡Bienvenidos al Instituto Thompsen!</h1>
            <div class="columns">
                <div class="bienvenidos left">
                    <p>Este es <span class="negrita">tu</span> lugar para conseguir los conocimientos que
                        estabas buscando. Nuestra prioridad es el aprendizaje del alumno, así como también
                        la integración de todos ellos.
                    </p>
                    <p>Nuestra comunidad compuesta por más de mil alumnos respaldan nuestra excelencia en enseñanza.
                        Contamos, además, con el aval de mas de 3000 empresas exitosas actualmente en el pais, y tambien
                        reconocidas mundialmente
                    </p>
                </div>

                <div class="comentarios right">
                    <h3>Opiniones: </h3>
                        <p class="separacion">"Un lugar donde aprender es super didactico. Muchas gracias por todo"-
                            Lucia</p>
                        <p class="separacion">"Los profesores son super comprensivos y no tienen problema en explicar
                            muchas
                            veces los temas que no entiendas, la verdad excelente" - Juan
                        </p>
                        <p class="separacion">"Los volvería a elegir sin dudar, muchas gracias" - Sol</p>
                    </div>
                </div>
            </div>
        </div>
</main>