<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="holder">
            <nav>
                <ul>
                    <li><a href="/cursos">Cursos</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="/">
                            <div><img src="" alt="Logo">
                            </div>
                        </a>
                    </li>
                    <li><a href="/galeria">Galeria</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    
    {{{body}}}
  </body>
</html>
