<main class="fondo">
    <div class="holder">
        <div class="people">
            <div class="person">
                <img src="" alt="Javier">
                <h3>Juarez, Javier </h3>
                <p>Info: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum ratione, eaque
                    accusamus porro, rerum debitis incidunt, provident consequuntur quisquam corporis. Unde ut
                    incidunt,
                    rem quibusdam expedita consectetur. Alias, excepturi!</p>
            </div>
            <div class="person">
                <img src="" alt="Lorena">
                <h3>Surco, Lorena </h3>
                <p>Info: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum ratione, eaque
                    accusamus porro, rerum debitis incidunt, provident consequuntur quisquam corporis. Unde ut
                    incidunt,
                    rem quibusdam expedita consectetur. Alias, excepturi!</p>
            </div>
            <div class="person">
                <img src="" alt="Roberto">
                <h3>Sancho, Roberto </h3>
                <p>Info: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum ratione, eaque
                    accusamus porro, rerum debitis incidunt, provident consequuntur quisquam corporis. Unde ut
                    incidunt,
                    rem quibusdam expedita consectetur. Alias, excepturi!</p>
            </div>
            <div class="person">
                <img src="" alt="Roxana">
                <h3>Lagos, Roxana </h3>
                <p>Info: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum ratione, eaque
                    accusamus porro, rerum debitis incidunt, provident consequuntur quisquam corporis. Unde ut
                    incidunt,
                    rem quibusdam expedita consectetur. Alias, excepturi!</p>
            </div>
        </div>
    </div>
</main>